{include file="../application/admin/view/common/common_head.html"}
<link href="/static/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
<body class="gray-bg">
  <div class="wrapper wrapper-content animated fadeInRight"> 
   <div class="ibox float-e-margins"> 
   </div> 

   <div class="ibox float-e-margins"> 
    <div class="ibox-title"> 
     <h5></h5> 

    </div> 
    <div class="ibox-content"> 
       <button onClick="javascript:location.reload()" type="button" style="float:right" class="btn btn-primary btn-sm">刷新页面</button>
     <div class="row row-lg"> 
      <div class="col-sm-12"> 
       <!-- Example Events --> 
       <div class="example-wrap"> 
        <!-- <h4 class="example-title">事件</h4> --> 
        <div class="example"> 
  


         <div class="input-group col-sm-4">
             <input class="form-control" value="" type="text" id="w_str"> <span class="input-group-btn"> <button type="button" id="w_s" class=" btn btn-primary">搜索
          </div>

          <script type="text/javascript">
          $(function(){
           $("#w_s").click(function(){
             var str=$("#w_str").val();
             location.href="{:url('admin/develop/user_list')}?nickname="+str;
           })
          })
          </script>



         <table class="table table-bordered w_edit" > 
          <thead> 
           <tr> 
            <th>#</th> 
            {volist name="fields" id="vo"}
            <th>{$vo.Field}/{$vo.Type}</th> 
            {/volist}
            <th>操作</th> 
           </tr>
          </thead> 
          <tbody>
            {volist name='list' id="vo"} 

           <tr class="gradeX">
           <td><input type="checkbox" name=""></td> 
            {volist name="fields" id="n"}
            
            <td><input type="text" name="{$n.Field}" value="{$vo[$n.Field]}"></td> 
  
         
      
             {/volist}
        
         
           
            <td>
            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group"> 
            <a cz="1" aid="{$vo.id}" onclick="javascript:w_save(this)" class="btn btn-primary btn-sm w_bc">保存</a>
            <a cz="1" aid="{$vo.id}" onclick="javascript:w_del(this)" class="btn btn-danger btn-sm w_bc">删除</a>
            </div>
 
             
            </td> 
           </tr> 
           {/volist} 
          </tbody> 
         </table> 
        {$list->render()}

             <a href="javascript:;" id="w_add" class="btn btn-primary btn-sm">新增</a>
            <a href="javascript:;" id="w_add" class="btn btn-primary btn-sm">提交</a>
        </div> 
       </div> 
       <!-- End Example Events --> 
      </div> 
     </div> 
    </div> 
   </div> 
   <!-- End Panel Other --> 
  </div>

    <script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/admin/js/content.min.js?v=1.0.0"></script>
    <script src="/static/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    


</body>
<script src="__PUBLIC__/static/admin/js/plugins/toastr/toastr.min.js"></script>
 <link href="__PUBLIC__/static/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">


<script type="text/javascript">
function w_save(e){
    var td=e.parentNode.parentNode.parentNode;
    var tdarr=td.getElementsByTagName('td');
    // del_ff(tdarr[1].firstChild);
    // console.log(tdarr)
    // console.log(tdarr[1].getElementsByTagName('select')[0].value);return;
    var cz=e.getAttribute("cz");
    var old_field=e.getAttribute("field");
    var field=tdarr[0].firstChild.value;
    var type=tdarr[1].getElementsByTagName('select')[0].value;
    var length=tdarr[2].firstChild.value;
    var w_default=tdarr[3].firstChild.value;
    var comment=tdarr[4].firstChild.value;
    var key=tdarr[5].firstChild.value;
    console.log(tdarr[3].firstChild.value);
    $.post("{:url('admin/admin/save_field')}?table={$table}",{cz:cz,field:field,old_field:old_field,type:type,length:length,default:w_default,comment:comment,key:key},function(res){
        res=eval("("+res+")");
        if (res.code==1) {
            e.setAttribute("field",field);
            e.setAttribute("cz",1);
            toastr.success(res.msg);
        }else{
            toastr.error(res.msg);return false;
        }
    })
}


function w_del(e){
    var cz=e.getAttribute("cz");
    var field=e.getAttribute("field");
    if (cz==0) {
        e.parentNode.parentNode.style.display="none";;
        toastr.success("删除成功");return false;

    }
    $.post("{:url('admin/admin/del_field')}?table={$table}",{field:field},function(res){
        res=eval("("+res+")");
        if (res.code==1) {
            e.parentNode.parentNode.parentNode.style.display="none";;
            toastr.success(res.msg);
        }else{
            toastr.error(res.msg);return false;
        }
    })
}
function del_ff(elem){
    var elem_child = elem.childNodes;
    for(var i=0; i<elem_child.length;i++){
        if(elem_child[i].nodeName == "#text" && !/\s/.test(elem_child.nodeValue))
        {
            
            elem.removeChild(elem_child[i])
        }
    }
}
    $(function(){

        $("#w_add").click(function(){
            var str='<tr><td><input type="text" name="" value=""></td><td><select><option value="varchar">varchar</option><option value="text">text</option><option value="int">int</option><option value="tinyint">tinyint</option><option value="float">float</option><option value="decimal">decimal</option><option value="double">double</option><option value="datetime">datetime</option><option value="timestamp">timestamp</option></select></td><td><input type="number" name="" value=""></td><td><input type="text" name="" value=""></td><td><input type="text" name="" value=""></td><td><input type="text" name="" value=""></td><td><a cz="0" onclick="javascript:w_save(this)" class="btn btn-primary btn-sm">保存</a><a cz="0" field="" onclick="javascript:w_del(this)" class="btn btn-danger btn-sm w_bc">删除</a></td></tr>';
            $("#w_tbody").append(str);

        })

    })

</script>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:06 GMT -->
</html>