{include file="../application/admin/view/common/common_head.html"}
<link href="/static/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

<body class="gray-bg">
  <div class="wrapper wrapper-content animated fadeInRight"> 
   <div class="ibox float-e-margins"> 
   </div> 

   <div class="ibox float-e-margins"> 
    <div class="ibox-title"> 
     <h5></h5> 

    </div> 
    <div class="ibox-content"> 
       <button onClick="javascript:location.reload()" type="button" style="float:right" class="btn btn-primary btn-sm">刷新页面</button>
     <div class="row row-lg"> 
      <div class="col-sm-12"> 
       <!-- Example Events --> 
       <div class="example-wrap"> 
        <!-- <h4 class="example-title">事件</h4> --> 
        <div class="example"> 
  


         <div class="input-group col-sm-4">
             <input class="form-control" value="" type="text" id="w_str"> <span class="input-group-btn"> <button type="button" id="w_s" class=" btn btn-primary">搜索
          </div>

          <script type="text/javascript">
          $(function(){
           $("#w_s").click(function(){
             var str=$("#w_str").val();
             location.href="{:url('admin/develop/user_list')}?nickname="+str;
           })
          })
          </script>

      <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group"> 
          <a  href="javascript:void(0)" _href="{:url('admin/admin/add_data')}?tb={$tb}" class="btn btn-primary btn-sm w_open">新增</a>
          <a  href="javascript:void(0)" _href="{:url('admin/admin/delete_data')}" class="btn btn-danger btn-sm w_del_all">删除</a>
     </div>

         <table class="table table-bordered w_edit" > 
          <thead> 
           <tr> 
            <th>#</th> 
            {volist name="fields" id="vo"}
            <th>{$vo.Field}/{$vo.Type}</th> 
            {/volist}
            <th>操作</th> 
           </tr>
          </thead> 
          <tbody>
            {volist name='list' id="vo"} 

           <tr class="gradeX">
           <td><input type="checkbox" name=""></td> 
            {volist name="fields" id="n"}
            
            <td>{$vo[$n.Field]}</td> 
  
         
      
             {/volist}
        
         
           
            <td>
            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group"> 
            <a cz="1" aid="{$vo.id}" onclick="javascript:w_save(this)" class="btn btn-primary btn-sm w_bc">保存</a>
            <a cz="1" aid="{$vo.id}" onclick="javascript:w_del(this)" class="btn btn-danger btn-sm w_bc">删除</a>
            </div>
 
             
            </td> 
           </tr> 
           {/volist} 
          </tbody> 
         </table> 
        {$list->render()}

             <a href="javascript:;" id="w_add" class="btn btn-primary btn-sm">新增</a>
            <a href="javascript:;" id="w_add" class="btn btn-primary btn-sm">提交</a>
        </div> 
       </div> 
       <!-- End Example Events --> 
      </div> 
     </div> 
    </div> 
   </div> 
   <!-- End Panel Other --> 
  </div>

    <script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/admin/js/content.min.js?v=1.0.0"></script>
    <script src="/static/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    


</body>


<script type="text/javascript">
  $(function(){
    var width=document.body.clientWidth*0.8;
    var height=document.body.clientHeight*0.9;
    console.log(width+';'+height);

    $(".w_open").click(function(){
      var p=$(this);

      layer.open({
        type: 2,
        title: p.html(),
        shadeClose: true,
        shade: false,
        maxmin: true, //开启最大化最小化按钮
       area: [width+'px', height+'px'],
        content: p.attr("_href")
      });
    })
  })
</script>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:06 GMT -->
</html>