{include file="../application/admin/view/common/common_head.html"}

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span></span>
                         <!--    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">开天网络科技管理后台</strong></span>
                                <span class="text-muted text-xs block"><b class="caret"></b></span>
                                </span>
                            </a> -->

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$admin.account}</strong></span>
                                <span class="text-muted text-xs block">{$admin.role_name}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                
               <!--                  <li><a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                                </li>
                                <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                                </li> -->
                                <li class="divider"></li>
                                <li><a href="#modal-form-pwd" data-toggle="modal">修改密码</a>
                               
                                <li><a href="{:url('admin/admin/login_out')}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">H+
                        </div>
                    </li>



  



<!--               
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">开发工具</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="{:url('admin/admin/table_list')}" data-index="0">数据表</a>
                            </li>

                            <li>
                                <a class="J_menuItem" href="{:url('admin/common/data_list')}?model_id=1" data-index="0">后台菜单</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="{:url('admin/develop/sys_model')}" data-index="0">模型管理</a>
                            </li>

                           

                        </ul>

                    </li> -->

                    {$menus}
                  


                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom" style="display: none;">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="http://www.zi-han.net/theme/hplus/search_results.html">
                            <div class="form-group">
                                <!-- <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search"> -->
                            </div>
                        </form>


                    </div>


                    
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="{:url('admin/admin/login_out')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main" style="height:calc(100% - 100px)">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{:url('admin/common/welcome')}" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2014-2026 <a href="http://www.baidu.com/" target="_blank">wxy</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        
        <!--右侧边栏结束-->
        <!--mini聊天窗口开始-->

    </div>
{include file="../application/admin/view/common/common_js.html"}
</body>


<div id="modal-form-pwd" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">修改密码</h3>

                     

                            <div class="form-group">
                                <label>原始密码：</label>
                                <input type="text" name="" id="w_old_pwd" placeholder="请输入原始密码" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>新密码：</label>
                                <input type="password" name="" id="w_new_pwd" placeholder="请输入新密码" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>重复新密码：</label>
                                <input type="password" name="" id="w_new_pwd2" placeholder="请重复输入新密码" class="form-control">
                            </div>
                      
                            <div>
                                <a class="btn btn-sm btn-primary pull-right m-t-n-xs" id="w_pwd_sb" aid="0">
                                <strong>确定</strong>
                                </a>
                              
                            </div>
                    
                    </div>
         
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(function(){
        $("#w_pwd_sb").click(function(){
            var old_pwd=$("#w_old_pwd").val();
            var new_pwd=$("#w_new_pwd").val();
            var new_pwd2=$("#w_new_pwd2").val();
            if (old_pwd=='') {
                // toastr.success(res.msg);
                toastr.error("请输入原始密码");return false;
            }
            if (new_pwd=='') { 
                toastr.error("请输入新密码");return false;
            }
            if (new_pwd!=new_pwd2) { 
                toastr.error("两次新密码不一致");return false;
            }
            $.post("{:url('admin/common/edit_admin_pwd')}",{old_pwd:old_pwd,new_pwd:new_pwd},function(res){
                res=eval("("+res+")");
                if (res.code==1) {
                    
                    toastr.success(res.msg);
                }else{
                    toastr.error(res.msg);return false;
                }
            })
        })
    })
</script>
<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:17:11 GMT -->
</html>
